/* 全局样式表 */
html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  /* min-width: 800px; */
}

.el-breadcrumb {
  font-size: 12px;
  margin-bottom: 15px;
}

.el-card {
  box-shadow: 0 1px 1px rgba(0,0,0,0.15)!important;
}

.el-table {
  margin-top: 15px;
  font-size: 12px;
}

.el-pagination {
  margin-top: 15px;
}

.el-cascader-menu {
  height: 250px;
}

.el-steps {
  margin: 15px 0;
}

.el-step__title {
  font-size: 13px;
}

.ql-editor {
  min-height: 300px;
}
/* @media (min-width: 1024px){
  body{font-size: 18px}
  }
  
  @media (min-width: 1100px) {
  body{font-size: 20px}
  }
  @media (min-width: 1280px) {
  body{font-size: 22px;}
  }
  
  @media (min-width: 1366px) {
  
  body{font-size: 24px;}
  }  
  
  @media (min-width: 1440px) {
  body{font-size: 25px !important;}
  } 
  
  @media (min-width: 1680px) {
  body{font-size: 28px;}
  } 
  @media (min-width: 1920px) {
  body{font-size: 33px;}
  }  */