$textColor: #939393;
$mainColor: #087790;
$bgcolor:#edf5ff;
$whiteBgColor:#fff;
$iconColor:#838383;
$iconActiveColor:#EE9611;
$cardBgColor:#e3ebf5;
$fillBlueColor:#409eff;
$inputBgColor:#f0f1f4;
$menuTextColor:#50a6c0;